.close_button {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    stroke: none;
    fill: rgba(0, 0, 0, 0.3);

    &:hover {
      fill: rgba(0, 0, 0, 1);
      transition: 300ms;
    }
  }
}

.title {
  font-family: 'Chomsky', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}