.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.5rem;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  span {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.left_container {
  display: flex;
  gap: 1rem;
}

.right_container {
  display: flex;
}

.svg_with_data {
  margin-right: 0.5rem;
}