@font-face {
  font-family: 'Chomsky';
  src: url('/fonts/chomsky/chomsky.woff2') format('woff2'),
       url('/fonts/chomsky/chomsky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}