.button {
  all: unset;
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;

  &_variant {
    &_default {
      background: var(--primary);
      color: var(--secondary);
      transition: background-color 300ms;

      &:hover {
        background: var(--primary);
      }

      &:active {
        background: var(--primary);
      }

      &.disabled {
        background: var(--light-primary);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &_success {
      background: var(--success);
      color: var(--secondary);
      transition: background-color 300ms;

      &:hover {
        background: var(--dark-success);
      }

      &:active {
        background: var(--dark-success);
      }

      &.disabled {
        background: var(--light-success);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &_error {
      background: var(--error);
      color: var(--secondary);
      transition: background-color 300ms;

      &:hover {
        background: var(--dark-error);
      }

      &:active {
        background: var(--dark-error);
      }

      &.disabled {
        background: var(--light-error);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &_outlined {
      background: transparent;
      color: var(--primary);
      border: 3px solid var(--primary);
      transition: background-color 300ms;

      &:hover {
        background: var(--ultra-light-primary);
      }

      &:active {
        background: var(--ultra-light-primary);
      }

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &_text {
      background: transparent;
      color: var(--primary);

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
}

.loader {
  opacity: 1;
  --transition-time: 0.3s;

  svg {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
