.container {
  width: 100vw;
  height: 4.3rem;
  background-color: var(--secondary);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border-top: 1px solid var(--border);

  a {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);

    &:hover {
      color: var(--primary);
    }
  }
}