.close_button {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    stroke: none;
    fill: rgba(0, 0, 0, 0.3);

    &:hover {
      fill: rgba(0, 0, 0, 1);
      transition: 300ms;
    }
  }
}

.title {
  font-family: "Chomsky", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
