.container {
  position: relative;
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
  }

  &_error::before {
    background-color: var(--error); 

    &_with_animation {
      animation: 300ms horizontal-shaking;
    }
  }
}

.input {
  all: unset;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 1.5rem;

  &_error {
    animation: 300ms horizontal-shaking;
  }

  &_withIcon {
    padding-right: 2rem;
  }
}

.error {
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  bottom: -1.5rem;
  color: var(--error);
  font-size: 1.1rem;
}

.label {
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: -1.1rem;
  font-size: 1.1rem;
}

.icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
