.container {
  position: relative;
  padding: 0.5rem 1rem
}

.icons {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    &:nth-child(1) {
      border-radius: 50%;
    }
  
    &:nth-child(2) {
      margin-left: 0.5rem;
      fill: rgb(107, 107, 107);
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 1rem;
  min-height: 53rem;
  min-width: 20rem;
  background-color: var(--secondary);
  box-shadow: rgb(204, 204, 204) 0px 1px 4px;
}


