.container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.count {
  padding: 0.5rem 1rem;
  background-color: var(--ultra-light-primary);
  color: var(--light-primary);
  font-weight: 600;
  border-radius: 0.5rem;
}

.link_text {
  padding: 0.5rem 1rem;
  color: var(--light-primary);
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 300ms;

  &:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
}

.link_one_step {
  padding: 0.5rem 1rem;
  background-color: var(--ultra-light-primary);
  color: var(--light-primary);
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 300ms;

  &:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
}

.link_number {
  padding: 0.5rem 1rem;
  color: var(--light-primary);
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 300ms;

  &:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
}

.link_current {
  cursor: default;
  padding: 0.5rem 1rem;
  background-color: var(--ultra-light-primary);
  color: var(--light-primary);
  font-weight: 600;
  border-radius: 0.5rem;
}