.container {
  display: flex;
  min-height: calc(100vh - 4rem - 4.3rem);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.submit_button {
  margin-top: 2rem;
  width: 10rem;
}

.editor {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1rem;
}