.container {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0 0.5rem;
  border-radius: 5rem;

  svg {
    stroke: var(--border);
  }
}

.input {
  background: transparent;
  padding: 0.6rem 1.25rem 0.6rem 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
